<div class="bike-card">
  <div class="image-container">
    <img
      src="https://placehold.co/600x400?text=No+Image"
      [alt]="product.name"
      class="bike-image"
    />
  </div>
  <div class="card-content">
    <h3 class="bike-name">{{ product.name }}</h3>
    <span class="bike-category" *ngIf="hasType(product)">{{
      getType(product)
    }}</span>
    <p class="bike-description">{{ product.description }}</p>
    <div class="card-footer">
      <span class="bike-price">{{ product.price | currencyFormat }}</span>
      <button (click)="onAddToCart()" class="add-to-cart-button">
        Add to Cart
      </button>
    </div>
  </div>
</div>
