<header>
  <div class="header-content">
    <h1>Bike Shop</h1>
    <nav>
      <ul>
        <li>
          <a routerLink="/catalog" fragment="bikes" routerLinkActive="active"
            >Bikes</a
          >
        </li>
        <li>
          <a
            routerLink="/catalog"
            fragment="accessories"
            routerLinkActive="active"
            >Accessories</a
          >
        </li>
        <li>
          <a routerLink="/catalog" fragment="contact" routerLinkActive="active"
            >Contact</a
          >
        </li>
        <li>
          <button (click)="openCart()" class="nav-button">
            Cart <span class="badge">{{ cartCount$ | async }}</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<app-cart *ngIf="isCartOpen$ | async"></app-cart>
<app-footer></app-footer>
